.test-case {
    &_list{
        &--secundary{
            padding-left: 2rem;
        }
        &-item {
            &--secundary{
                list-style:disc;
            }
        }
    }
    &__item{
        border-bottom: 1px solid #D3D3D3;
        padding-bottom: 1rem;
        padding-top: 5rem;
        &:first-of-type {
            padding-top: 2rem;
        }
    }
}